{% extends "base.html" %}

{% load static %}

{% block body %}
    {% if message %}
        <div>{{ message }} Current Raised Amount: {{ raisedAmount }}</div>
    {% endif %} 
    <div class="card">
    <div class="card-body">
        <h2>Donate - {{project.title}}</h2>
        <p style="display:none;" id="address">{{ contractAddress }}</p>
        
        <div id="mm-detected"></div>
    
        <!-- Connect to MetaMask Wallet -->
        <button id="mm-connect">Connect to MetaMask</button>
    
        <!-- Display current address -->
        <div id="mm-current-account"></div>

        <!-- Provide an input to change the contract text value -->
        <div>
            <input id="ss-input-box" type="number" placeholder="Enter Donation Amount"/>  
        </div>
        <button id="ss-input-button">Donate</button>
  
        <!-- Read input from contract -->
        <div>
            <button id="ss-get-value">Get Raised Amount</button>
        </div>
        <div id="ss-display-value">Current Raised Amount Value: </div>

    </div>
    </div>

    <script type="text/javascript" src="{% static 'js/donate.js' %}"></script>

{% endblock %}
